<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
namespace="com.itflix.mapper.Category_Mapper">

	
	<resultMap id="findeCategoryMovieListResultMap" type="com.itflix.dto.Category">
 			<result column="cg_no" property="cg_no"/>
			<result column="cg_name" property="cg_name"/>
				 <collection property="movie" javaType="com.itflix.dto.Movie" >
							<result column="m_name" property="m_name"/>
							<result column="m_image" property="m_image"/>
							<result column="m_date" property="m_date"/>
							<collection property="reviewList" javaType="java.util.List" ofType="com.itflix.dto.Review">
								<result column="r_grade" property="r_grade"/>
							</collection>
				</collection>
	</resultMap>


	<resultMap  id="findCategoryMovieDetailReviewResultMap" type="com.itflix.dto.Category">
			<result column="cg_no" property="cg_no"/>
			<result column="cg_name" property="cg_name"/>
			<collection property="movieList" javaType="java.util.List" ofType="com.itflix.dto.Movie">
					<result column="m_no" property="m_no"/>
					<result column="m_name" property="m_name"/>
					<result column="m_actor" property="m_actor"/>
					<result column="m_info" property="m_info"/>
					<result column="m_image" property="m_image"/>
					<result column="m_date" property="m_date"/>
					<result column="m_url" property="m_url"/>
					<collection property="reviewList" javaType="java.util.List" ofType="com.itflix.dto.Review">
						<result column="r_no" property="r_no"/>
						<result column="r_title" property="r_title"/>
						<result column="r_content" property="r_content"/>
						<result column="r_date" property="r_date"/>
						<result column="r_grade" property="r_grade"/>
					</collection>
			</collection>
			
	</resultMap>
	
</mapper>
 
<!-- 카테고리별 영화 갯수 -->
<!-- 
	<resultMap id="categoryWithCount" type="com.itflix.dto.Category">
	   <result column="cg_no" property="cg_no"/>
	  <collection property="movieList" javaType="java.util.List" ofType="com.itflix.dto.Movie">
	  </collection>
	</resultMap>
 -->	
	
	<!-- 
	select 		
				c.cg_name,"
				+ " m.m_image,"
				+ " m.m_name,"
				+ " m.m_actor,"
				+ " m.m_info,"
				+ " m.m_date"
			+ " from movie m "
		+ "join category c on m.cg_no=c.cg_no  "
		+ "where m.cg_no =#{cg_no};
	 -->
	<!-- <result  column="cg_no" property="cg_no"/>
	<result  column="cg_name" property="cg_name"/>
	<association property="movie" javaType="com.itflix.dto.Movice">
			<result column="m_name" property="m_name"/>
			<result column="m_image" property="m_image"/>
			<result column="m_actor" property="m_actor"/>
			<result column="m_info" property="m_info"/>
			<result column="m_date" property="m_date"/>
 -->


<!-- select c.cg_name,
			m.m_image,
			m.m_name,
			m.m_actor,
			m.m_info,
			m.m_date,
			avg(r.r_grade) \"총평점\" from movie m 
	join category c 
	on m.cg_no=c.cg_no 
	join review r  
	on m.m_no =r.m_no 
	where m.cg_no=#{cg_no} 
	group by c.cg_name,
			 m.m_image,
			 m.m_name,
			 m.m_actor,
			 m.m_info,
			 m.m_date
 -->