<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itflix.mapper.Movie_Mapper">

	
	<resultMap id="selectAllNoFilterResultMap" type="com.itflix.dto.Movie" >
		<result column="m_no" property="m_no"/>
		<result column="m_name" property="m_name"/>
		<association property="category" javaType="com.itflix.dto.Category">
			<result column="cg_no" property="cg_no"/>
			<result column="cg_name" property="cg_name"/>
		</association>
		<association property="review" javaType="com.itflix.dto.Review">
			<result column="r_grade" property="r_grade" />
		</association>
	</resultMap>
	
	
	<resultMap id="selectMovieResultMap"
		type="com.itflix.dto.Movie">
		<result column="m_no" property="m_no" />
		<result column="m_name" property="m_name" />
		<result column="m_actor" property="m_actor" />
		<result column="m_info" property="m_info" />
		<result column="m_image" property="m_image" />
		<result column="m_url" property="m_url" />
		<result column="m_count" property="m_count" />
		<result column="m_date" property="m_date" />
		<result column="m_url" property="m_url" />
		<collection property="category"
			javaType="com.itflix.dto.Category" >
			<result column="cg_no" property="cg_no" />
			<result column="cg_name" property="cg_name" />
		</collection>
		<collection property="review"
			javaType="com.itflix.dto.Review">
			<result column="r_grade" property="r_grade" />
		</collection>
	</resultMap>
	
	<resultMap id="selectMovieGradeResultMap"
		type="com.itflix.dto.Movie">
		<result column="m_no" property="m_no" />
		<collection property="review"
			javaType="com.itflix.dto.Review">
			<result column="r_grade" property="r_grade" />
		</collection>
	</resultMap>
<!-- 
	<resultMap id="insert_resultMap" type="com.itflix.dto.Movie" >
		<result column="m_no" property="m_no"/>
		<result column="m_name" property="m_name"/>
		<result column="m_actor" property="m_actor"/>
		<result column="m_info" property="m_info"/>
		<result column="m_image" property="m_image"/>
		<result column="m_date" property="m_date"/>
		<result column="m_url" property="m_url"/>
		<association  property="category" javaType="com.itflix.dto.Category">
			<result column="cg_no" property="cg_no"/>		
		</association>
	</resultMap>
 -->




	<!-- 수정중 -->
	<resultMap id="selectMovieRecentReviewResultMap"
		type="com.itflix.dto.Movie">
		<result column="m_no" property="m_no" />
		<result column="m_name" property="m_name" />
		<result column="m_actor" property="m_actor" />
		<result column="m_image" property="m_image" />
		<collection property="categoryList"
			javaType="java.util.List" ofType="com.itflix.dto.Category">
			<result column="cg_no" property="cg_no" />
			<result column="cg_name" property="cg_name" />
		</collection>
		<collection property="review" javaType="com.itflix.dto.Review" >
			<result column="r_no" property="r_no" />
			<result column="r_title" property="r_title" />
			<result column="r_content" property="r_content" />
			<result column="r_grade" property="r_grade" />
			<result column="r_date" property="r_date" />
			<collection property="userList" javaType="java.util.List"
				ofType="com.itflix.dto.User_Info">
				<result column="u_email" property="u_email" />
			</collection>
		</collection>
	</resultMap>


</mapper>